html {
  font-size: 40px;
  background-color: rgba(255, 166, 0, 0.795);
}

body {
  background-color: rgb(36, 35, 34);
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  color: rgba(255, 166, 0, 0.795);
}

button {
  font-size: .60rem;
  width: 170px;
  padding: .5em;
  margin: 0.25em;
  border-radius: 0.5em;
  display: grid;
  place-content: center;
  color: red;
  background-color: rgba(255, 166, 0, 0.795);
  cursor: pointer;
}